{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">

  <!-- Step 1 & 2 -->

  <!-- Mount Balloonicorn's card on to this element. -->
  <!-- <div id="balloonicorn"></div> -->

  <!-- Mount Float's card on to this element. -->
  <!-- <div id="float"></div> -->

  <!-- Mount Llambda's card on to this element. -->
  <!-- <div id="llambda"></div> -->

  <!-- Mount Off-by-One's card on to this element. -->
  <!-- <div id="offbyone"></div> -->

  <!-- Mount Seedpy's card on to this element. -->
  <!-- <div id="seedpy"></div> -->

<!-- Step 4 part 1 -->
  <!-- <div id="hello"></div> -->
</div>

{% endblock %}